# environment
export ENV=local
# redis
export REDIS_HOST_PORT=localhost:6379
export REDIS_DB=1
# connect
export CONNECT_CORS_ALLOW_ORIGINS=http://localhost:53676
# session
export SESSION_COOKIE_DOMAIN=localhost
export SESSION_COOKIE_SECURE=false
